body {
    font-family: 'Roboto Slab', serif;
    background-color:#25252a;
}
 
#fixed-header {
    display: flex;
    width: 100%;
    position: fixed;
    padding: 1% 3%;
    top: 0;
    left: 0;
    background-color: #25252a;
    font-size: 20px;
}

.nav-list-element {
    color: whitesmoke;
    margin: auto 5% auto 0;
    margin-right: 5%;
    text-decoration: none;
}


#logo {
    margin-right: 48.5vw;
    margin-left: auto;
    width: 3vw;
    height: 3vw;
    background-color: oldlace;
}

#presentation {
    height: 100vh;
    padding: 1px;
}

#presentation-text {
    width: 80%;
    margin: 5vh auto auto;
    padding: 1px;
    overflow: auto;
}

#presentation-text h1 {
    display: inline-block;
    vertical-align: bottom;
    margin:0 0 auto;
    font-size: 10vh;
    font-weight: 200;
    color: oldlace;
}

#avatar {
    overflow: hidden;
    width: 50vw;
    height: 50vw;
    margin: 20vh auto 0 auto;
    background-color: #f3f7fb;
    border-radius: 50% 50%  33% 33%;
    padding: 1.2% 1.2% 0;
}

#avatar img {
    width: 103%;
    height: auto;
    margin-bottom: -4px;
    transform: scaleX(-1);
}

#presentation-text p{
   width: 100%;
   margin: 0;
   color: green; 
   font-size: 6vh;
}

.scroll-down-container {
   width: 20%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;
}

.card-project {
    display: flex;
    padding: 8% 4%;
    background-color: #C4DBE0;
}

.card-title {
    font-size: 20px;
    margin: 0 0;
}

.desc-card {
    display: block;
    float: left;
    max-width: 40%;
    margin-right: auto;
    padding: 15px 10px;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #74aab6;
}

#desc-card-par {
    margin: auto auto;
}

#start-button {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    margin: 10% auto;
    padding: 3% 8%;
    background-color: #2EB5E0;
    border: 0;
    box-shadow: 0px 5px 10px grey;
    transition: all .2s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 2px solid #46bde4;
}

#start-button:hover {
    box-shadow: 0px 10px 20px -5px grey;
    transform: scale(1.03);
}

#start-button:active {
    box-shadow: 0px 4px 8px grey;
    transform: scale(.98);
}
.content-card {
    display: block;
    float: right;
    margin: auto 0 auto 0;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #74aab6;
    padding-bottom: 0px;
    max-width: 50%;
}

#ascii-pre {
    display: block;
    width: 100%;
    background-color: darkslategrey;
    border-radius: 8px;
    border: 2px solid darkslategrey;
    margin: 0 0;
}

#content-card-ascii {
   display: flex; 
   border-radius: 10px;
   overflow: hidden;
}

#ascii-img {
    max-width: 100%;
}

#donut-pre {
    font-size: 0.65vw;
    background-color: darkslategrey;
    color: white;
    border-radius: 8px;
    border: 2px solid darkslategrey;
    margin: 0 0;
}

/* RESPONSIVE SECTION */


 .chevron {
	 position: absolute;
	 width: 2.1rem;
	 height: 0.48rem;
	 opacity: 0;
	 transform: scale(0.3);
	 animation: move-chevron 3s ease-out infinite;
}
 .chevron:first-child {
	 animation: move-chevron 3s ease-out 1s infinite;
}
 .chevron:nth-child(2) {
	 animation: move-chevron 3s ease-out 2s infinite;
}
 .chevron:before, .chevron:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 height: 100%;
	 width: 50%;
	 background: white;
}
 .chevron:before {
	 left: 0;
	 transform: skewY(30deg);
}
 .chevron:after {
	 right: 0;
	 width: 50%;
	 transform: skewY(-30deg);
}
 @keyframes move-chevron {
	 25% {
		 opacity: 1;
	}
	 33.3% {
		 opacity: 1;
		 transform: translateY(2.28rem);
	}
	 66.6% {
		 opacity: 1;
		 transform: translateY(3.12rem);
	}
	 100% {
		 opacity: 0;
		 transform: translateY(4.8rem) scale(0.5);
	}
}
 
